<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="9d7c5168-5a50-45c4-847a-2fade8eca6e1" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://digisurveyapi.clidiem.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="9d7c5168-5a50-45c4-847a-2fade8eca6e1fileName">http%3A%2F%2Fdigisurveyapi.clidiem.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://digisurveyapi.clidiem.com</con:endpoint></con:endpoints></con:interface>